*{
    margin: 0;
    padding: 0
}

body{
    font-family: system-ui;
}

/*images libres de droit:
moutain_realist : https://www.pexels.com/photo/scenic-view-of-mountains-1095817/
tree: https://www.pexels.com/photo/green-tree-268533/ 
ville: https://www.pexels.com/photo/photo-of-skyline-at-night-3075993/
sakura: https://www.pexels.com/photo/black-withered-tree-surounded-by-body-of-water-2138922/
tree2: https://www.pexels.com/photo/silhouette-of-tree-near-body-of-water-during-golden-hour-36717/*/

.hero{
    position: relative;
    background-color: rgba(0, 0, 0, 0.425);
    background-image: url("../images/sakura.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-blend-mode: multiply;
}

.time{
    font-size: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 80px;
    
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: bold;
}

li{
    list-style: none;
    padding: auto;
    margin: auto;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    opacity: 50%;
}

header{
    position: relative;
    padding: 0 15px;
}

.navbar{
    width: 100%;
    height: 60px;
    margin: 0;
    display: flex;
    align-items: center;
   
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: block;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.189);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    align-items: flex-end;
    justify-content: flex-end;
}

.navbar.open .links{
    height: 230px;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: 2rem;
}

.navbar li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}

a{
    margin: auto;
}

.clock {
    font-family: "Degular Bold", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 4.5vw;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

.pomodoro-options{
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 40%;
    left: 37%;
    
    
}

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
  will-change: transform;
  
  
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
