<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se connecter</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/styleApp.css">
   

 
</head>

<body>
    <div class="hero">
        <div class="logo" style="position: absolute; top: 1rem; left: 1rem;"><a href="accueil">Studialy</a></div>
        <div class="container">
            <form action="/connexion" method="post" class="form">
                <header style="color: black;">Se connecter</header>
                
                <input type="text" id="email" name="email" placeholder="E-mail" required autocomplete="off">
                <input type="password" id="password" name="password" placeholder="Mot de passe" required>
                
                <button type="submit" class="button">Se connecter</button>
            </form>
            <div class="signup">
                <span style="color: black;">Pas de compte? <a href="/inscription">Créez-en un!</a></span>
            </div>
        </div>
    </div>
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/fond_ecran.js"></script>

    <% if(check===false){%>
        <script>
 
            $(document).ready(function() {
                $(".container").height(430);
               $("#email").css("margin-top", "10px");
               $("#email").before("Cet e-mail n'existe pas. Veuillez réessayez.");
               $("#email").css("border-color", "red");
               $("#password").css("border-color", "red");
       });
              </script>

        <%  }else if(isPasswordMatch===false){%>
            <script>
     
                $(document).ready(function() {
                   $(".container").height(460);
                   $("#email").css("margin-top", "10px");
                   $("#email").before("Mot de passe ou e-mail est erroné. Veuillez réessayez.");
                   $("#email").css("border-color", "red");
                   $("#password").css("border-color", "red");
           });
                  </script>

            <%  }%>


</body>

</html>
