<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styleApp.css">
</head>
<body>
    <div class="container">
        <form action="/signup" method="post" class="form">
            <header>Login</header>
          
            <input type="text" id="email" name="email" placeholder="Enter your email" required autocomplete="off">
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            
            <button type="submit" class="button">Login</button>
        </form>
        <div class="signup">
            <span>Dont't have an account? <a href="/signup">Sign Up</a></span>

            
        </div>
    </div>
</body>
</html>
