<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon compte</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/accountStyle.css">
</head>
<body>
    <div class="hero">
        <div class="logo" style="position: absolute; top: 1rem; left: 1rem;"><a href="accueil">Studialy</a></div>
    <div class="container" style="height: 550px; ">
        
        <form action="/mon-compte" method="post" class="form">
            <header style="color: black;">Mon compte</header>
            <input type="text" id="age" name="age" placeholder="Âge" required>
            <select type="text" id="programme" name="programme" required>
                <option>--Programme--</option>           
     <option value="sn">Sciences Naturelles</option>
     <option value="sim">S.I.M</option>
     <option value="sla">Sciences, Lettres et Arts</option>
     <option value="tech">Technique</option>
   </select> 

            <select type="text" id="momentEtude" name="momentEtude" required>
                <option>--Moment d'étude--</option>           
     <option value="matin">Matin</option>
     <option value="midi">Midi</option>
     <option value="apresMidi">Après-midi</option>
     <option value="soir">Soir</option>
   </select> 

                    <select type="text" id="genre" name="genre" required>
             <option>--Genre--</option>           
  <option value="masculin">Masculin</option>
  <option value="feminin">Féminin</option>
</select> 

               

            <button type="submit" class="button">Sauvegarder</button>
        </form>

        <form action="/mon-compte" method="post" class="form" style="margin-top: 25px;">
           
            
            <input type="text" id="email" name="email" placeholder="E-mail" required autocomplete="off">
            <input type="password" id="password" name="password" placeholder="Mot de passe" required>
            <input type="text" id="matiere" name="matiere" placeholder="Matière étudiée" required >

            <input type="text" id="duree" name="duree" placeholder="Durée d'étude (h)"required>

        </form>

        
      
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/fond_ecran.js"></script>

  
</body>
</html>
