<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'inscrire</title>
    <link rel="stylesheet" href="css/styleApp.css">
</head>
<body>
    <div class="container" style="height: 550px;">
        
        <form action="/inscription" method="post" class="form">
            <header>S'inscrire</header>
            <input type="text" id="full-name" name="name" placeholder="Nom complet" required autocomplete="off" >
            <input type="text" id="email" name="email" placeholder="E-mail" required autocomplete="off">
            <input type="password" id="password" name="password" placeholder="Mot de passe" required>
            <input type="password" id="confirm-password" placeholder="Confirmez le mot de passe" required>
            <button type="submit" class="button">S'inscrire</button>
        </form>
        <div class="signup">
            <span>Avez-vous un compte? <a href="/connexion">Connectez-vous!</a></span>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <% if(existingUser===true){%>

        
        <script>
 
            $(document).ready(function() {
                $(".container").height(590);
               $("#full-name").css("margin-top", "10px");
               $("#full-name").before("Cet e-mail est déja utilisé.");
       });
              </script>
              <% console.log(existingUser)%>  

<%  }  %>
</body>
</html>
