<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styleApp.css">
</head>
<body>
    <div class="container" style="height: 550px;">
        
        <form action="/signup" method="post" class="form">
            <header>Sign up</header>
            <input type="text" id="full-name" name="username" placeholder="Full Name" required autocomplete="off" >
            <input type="text" id="email" name="email" placeholder="Enter your email" required autocomplete="off">
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <input type="password" id="confirm-password" placeholder="Confirm your password" required>
            <button type="submit" class="button">Sign Up</button>
        </form>
        <div class="signup">
            <span>Already have an account? <a href="/login">Login</a></span>
        </div>
    </div>
</body>
</html>
