*{
  margin: 0;
  padding: 0
}

.paramContainer .links{
  display: flex;
  position: absolute;
  top: 60px;
  height: 0;
  background-color: rgba(255, 255, 255, 0.189);
  border-radius: 10px;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-top: 80px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: bold;    
}

.paramContainer li{
  appearance: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0.2rem;
  min-height: 40px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 180px;
  will-change: transform;
}

.paramContainer li:hover{
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
  
.paramContainer li:active{
  box-shadow: none;
  transform: translateY(0);
}
  
.clicked{
    color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.back{
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.back-change{
  display: inline-block;
  width: 100px;
  height: 100px;
  background: wheat;
  overflow: hidden;
  cursor: pointer;
  border-radius: 23px;
  margin: 10px;
}

.back-change img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.paramContainer .sectionsParam{
  position: absolute;
  top: 60%;
  left: 25%;
  justify-content: space-around;
  align-items: center;
}

#pomodoro{
  position: absolute;
  top: 300px;
}


