
.App-header{
  
  border-radius: 20px;
  background-color: black;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 650px;
  
 
}

.main-wrapper{
  position: absolute;
  top: 70%;
  left: 10px;
  border-radius: 20px;
  background-color: black;
  width: 650px;
  height: 25vh;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
 
}


.now-playing__cover{

  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.now-playing__name{

  font-size: 20px;
}
.now-playing__artist{
  font-size: 15px;
}




